h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: bold;
}
h3 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-align: center;
}
body {
  background-color: #D4AF37;
}
img {
  width: 20%;
  height: 20%;
  margin-right: 50px;
  margin-left: 50px;
}
.left {
  position: relative;
  left: 150px;
  width: 100%;
  height: 100%;
}
.right {
  position: relative;
  left: 150px;
  width: 100%;
  height: 100%;
}
p {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 1.15em;
   text-indent: 50px
}
a:link {
  color:black;
}
a:visited {
  color:black;
}